#popular-courses {
  @include container;
  .center {
    text-align: center;
    // title
    h2 {
      font-size: $h2-font;
      font-weight: 800;
    }
    button {
      @include button;
    }
  }

  .content {
    padding: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;

    // card
    .card {
      position: relative;

      &:hover img {
        scale: 1.05;
      }
      // image
      img {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        filter: brightness(70%);
        cursor: pointer;
        @extend .transition;
      }

      // info
      .info {
        position: absolute;
        bottom: 40px;
        left: 25px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        h4 {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 17px;
          i {
            color: $main-color;
          }
        }
      }
    }
  }
}
